
body {
	background-color: #F4F4E2; 
	padding: 35px;
    margin: 30px;
  	font-family: Trebuchet MS; 
	text-align: center; 
	}

/* Style the blog bodytext //// DOESNT WORK ////  */
#blogText {
	height: 400px;
	max-height: 800px;
	max-width: 600px;
	min-width: 600px;
    border-bottom: 1px solid ;
	border-left: 1px solid ;
	border-right: 1px solid ;
	border-top: 1px solid ;
	margin-bottom: 10px;
	overflow-y: scroll;
	word-wrap: break-word;
	font-family: Trebuchet MS;
	padding: 3px;
}

/* Style the page where the blogs are created */
#blogPage{
    position: relative;
    background-color: gray;
   	text-align: center; 
}

/* Style the page where  blogs are displayed */
#blogOverview {
	background-color: white;
}

/* Style the title of blogs */
#blogTitle{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	padding: 5px;
	width: 400px;
	display: inline-block;
	font-family: Trebuchet MS;
	font-size: 80%;
	border-bottom: 1px solid ;
	border-left: 1px solid ;
	border-right: 1px solid ;
	border-top: 1px solid ;
}

/* Style the blog submit button */
#btnSubBlog {
	background-color: white;
	padding: 5px;
	width: 80px;
	cursor: pointer;
	font-family: Trebuchet MS;
	font-size: 80%;
	margin-bottom: 20px;
	border-style: none;
}

/* Style the blog submit button on mousehover */
#btnSubBlog:hover {
	background-color: black;
	color: white;
}

/* Style the errors //// DOESNT WORK ////  */
#errorForm {
	list-style: none;
	background-color: red;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
	text-align: center; 
	display: inline-block;

}

/* Style the added categories */
.catnav a {
	background-color:  gray;
	margin-bottom: 2px;
    display: inline-block;
    width: 130px;
    color: rgb(0, 0, 0);
    font-size: 80%;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}	

/* Style the topnav links */
.topnav a {
	background-color:  gray;
    display: inline-block;
    width: 130px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: rgb(224, 224, 224);
    color: black;}
}

